<ion-view view-title="Account Information">
	<ion-content class="estimates-col">
		<div class="list">

			<a href="javascript:void(0);" class="item item-icon-left">
				<i class="icon ion-android-person"></i>
				Name of the person
			</a>

			<a href="javascript:void(0);" class="item item-icon-left">
				<i class="icon ion-podium"></i>
				Firm name
			</a>

			<a href="javascript:void(0);" class="item item-icon-left">
				<i class="icon ion-calculator"></i>
				Udyog Adhaar no/EMI-II
			</a>

			<a href="javascript:void(0);" class="item item-icon-left">
				<i class="icon ion-android-home"></i>
				Address
			</a>
			<a href="javascript:void(0);" class="item item-icon-left">
				<i class="icon ion-android-call"></i>
				Mobile no
			</a>
			<a href="javascript:void(0);" class="item item-icon-left">
				<i class="icon ion-android-mail"></i>
				Email
			</a>

		</div>
	</ion-content>
</ion-view>
