<ion-view view-title="Application">
	<ion-content>		
		<div class="background-white application-listing">
			<button class="button button-full button-stable text-left" ui-sref="account-information">
				<span class="app-icon icon ion-information-circled"></span>
				<p>Account information</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
			<button class="button button-full button-stable text-left" ui-sref="sector-updates">
				<span class="app-icon icon ion-loop"></span>
				<p>Sector updates</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
			<button class="button button-full button-stable text-left" ui-sref="schemes">
				<span class="app-icon icon ion-ios-flower"></span>
				<p>Schemes for Government of India</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
			<button class="button button-full button-stable text-left" ui-sref="schemes-haryana">
				<span class="app-icon icon ion-ios-flower"></span>
				<p>Schemes of Government of Haryana</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
			<button class="button button-full button-stable text-left" ui-sref="card-listing">
				<span class="app-icon icon ion-android-settings"></span>
				<p>Approvals for setting up a project</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
			<button class="button button-full button-stable text-left" ui-sref="contact-point">
				<span class="app-icon icon ion-android-contact"></span>
				<p>Point of contact</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
			<button class="button button-full button-stable text-left" ui-sref="technical-institute">
				<span class="app-icon icon icon ion-settings"></span>
				<p>Technical institutes</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
			<button class="button button-full button-stable text-left" ui-sref="card-listing">
				<span class="app-icon icon ion-help-circled"></span>
				<p>Raising a query</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
			<button class="button button-full button-stable text-left" ui-sref="news">
				<span class="app-icon icon ion-ios-world"></span>
				<p>News and other updates</p>
				<i class="icon ion-ios-arrow-forward"></i>
			</button>
		</div>
	</ion-content>
</ion-view>
