<ion-view view-title="Point of Contact">
	<ion-content class="estimates-col">
		<div class="list contact-point-list">

			<div class="item item-divider">
				Directorate
			</div>
			<div class="item">
				Director
			</div>
			<div class="item">
				Industries & Commerce
			</div>
			<div class="item item-divider">
				DIC 
			</div>
			<div class="item">
				<b>Joint Director cum District Registrar</b><br>Ambala, Bahadurgarh, Faridabad, Gurgaon, Hissar, Karnal, Mewat, Panipat, Panchkula, Rohtak, Rewari, Sonepat and Yamuna Nagar
			</div>
			<div class="item">
				<b>Deputy Director cum District Registrar</b><br>Bhiwani, Fatehbad, Kurukshetra, Kaithal, Jind, Palwal, Narnaul and Sirsa
			</div>
			<div class="item item-divider">
				DI
			</div>
			<div class="item">
				Director
			</div>
			<div class="item">
				MSME – DI (Karnal) 
			</div>
		</div>
	</ion-content>
</ion-view>
