<ion-view view-title="Home">
    <ion-content>
        <div class="row">
            <img src="img/haryana-govt.png" class="brand-logo">
        </div>
        <div class="row">
            <div class="col col90 padding-ten text-center">
                <p class="welcome-text">Department of Industries & Commerce</p>
            </div>
        </div>
        <div class="row">
            <div class="col col90 padding-ten text-center">
                <button class="button button-large button button-dark" type="submit" ui-sref="application-listing">
                    Continue
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>