<ion-view view-title="News And Other Updates">
	<ion-content class="estimates-col">
		<div class="list contact-point-list">
			<div class="item item-avatar">
				<img src="img/profile-placeholder.png">
				<span>Haryana releases its Haryana Enterprise policy 2015</span>
			</div>
			<div class="item item-avatar">
				<img src="img/profile-placeholder.png">
				<span>HSIIDC planned to create land bank by developing industrial plots in different parts of the state over a period of three years</span>
			</div>
			<div class="item item-avatar">
				<img src="img/profile-placeholder.png">
				<span>Haryana to give financial assistance to the MSMEs for patents</span>
			</div>
		</div>
	</ion-content>
</ion-view>
