<ion-view view-title="Schemes for Government of Haryana">
	<!-- <div class="bar bar-subheader">
		<h2 class="title">Advantage Haryana</h2>
	</div> -->
	<ion-content class="bid-listing-col">
		<div class="card">
			<div class="item item-text-wrap">
				<p class="sub-heading"><b>Enterprises Promotion Policy 2015</b></p>
				<p>To propel the State to the next level of growth trajectory, a path breaking “Enterprises Promotion Policy-2015” has been launched in August 2015. This Policy envisions GDP growing at a rate higher than 8%, an investment of Rs. 1 lakh crore, employment generation for more than 4 lakh persons and also to position Haryana as a pre-eminent investment destination.</p>
				<strong>Objectives of the scheme:</strong>
				<ul class="listing-disc">
					<li>
						Promote the state as Preferred Destination for investment and startups
					</li>
					<li>
						Create employment opportunities by facilitating Ease of Doing Business and Cost of Doing Business
					</li>
					<li>
						Attract investments over ₹ 1 lakh crore and generate more than 4 lakh jobs
					</li>
					<li>
						Increase contribution of secondary sector to the GDP to achieve 32% from 27% in collaboration with GoI’s National Manufacturing Policy and Make in India
					</li>
					<li>Facilitate State GDP growth rate in excess of 8%</li>
					<li>To adopt Zero Defect Zero Effect on manufacturing practices</li>
				</ul>
				<strong>NMain highlights:</strong>
				<p>
					<b>Ease of doing business</b>
					The policy specifically focuses on ease of doing business through NIRBADH (New Industrial Regulation by Automatic Approval and Delegation in Haryana). The state also will have Single Window Services under One Roof for time bound clearances. Also, a system of online clearances will be put in place by creating ane-biz Haryana portal where Composite Application Forms can be submitted by an investor for 64 services with most frequent industry interface for seeking/ securing online clearances/ sanctions/ permits/ NOCs.
				</p>
				<ul class="listing-disc">
					<li>
						<b>VAT/SGST</b> 50% - 75% net paid for 8 - 10 years
					</li>
					<li>
						<b>Interest Subsidy</b> 5% - 6% on term loan for 3 - 5 years
					</li>
					<li>
						<b>Support to Startups</b>
						<ul type="a">
							<li>
								Refund of 100% VAT/SGST up-to turnover of Rs. 3 crore
							</li>
							<li>Financial support of Rs. 30 lakhs per university for creation of incubation centres</li>
						</ul>
					</li>
					<li>
						<b>Zero Defect and Zero Effect</b>
						 Financial assistance and support for quality certification, technology acquisition and upgradation and establishment of effluent treatment plant
					</li>
					<li><b>Land Related Incentive</b> Reduced EDC charges 50% & 50% - 100% Refund of Stamp Duty</li>
					<li>
						<b>Service Sector</b>
						 VAT/CSGT net paid 50%, 50% - 75% Electricity Duty Exemption & 30% - 50% Refund of Stamp Duty
					</li>
					<li>
						<b>Land Related Incentive</b>
						<ul type="a">
							<li>
								Reduced EDC charges 50%
							</li>
							<li>
								50% - 100% Refund of Stamp Duty
							</li>
						</ul>
					</li>
					<li>
						<b>Increase FAR</b> Higher FAR of 150% has been provided with approval of HEPB
					</li>
				</ul>
				<strong>Supporting the MSME sector</strong>
				<ul class="listing-disc">
					<li>
						<b>Cluster development-</b> More than 20 clusters have been identified for development/support across the state involving more than 6000 MSMEs.
					</li>
					<li>
						<b>Cluster support-</b> The central govt. implements MSE-CDP scheme for creating common facility centre with investment up to ₹ 15 Crore for a group of at least 20 existing industries. The state will contribute 30% of the cost of the project exceeding ₹ 15 crore (up to maximum of ₹ 20 crore).
					</li>
					<li>
						Also, the state will create MSME fund with a maximum budget of ₹ 1000 crore to provide assistance to entrepreneurs with collateral free debt up to a maximum of ₹ 1crore.
					</li>
					<li>
						Complete infrastructure support and incentives of ₹ 1000 crore will be provided only to facilitate the MSME sector.
					</li>
				</ul>
				<br>
				<p class="sub-heading"><b>MSME Facilitation Council Rules</b></p>
				<p>No. S.O. 41/C.A.27/2006/Ss. 21 and 30/2007.- In exercise of the powers conferred by sub-section (1) read with sub-section (2) of section 30 and read with sub section (3) of section 21 of the Micro, Small and Medium Enterprise Development Act, 2006 (Act 27 of 2006), the Governor of Haryana hereby makes the following rules providing for the Composition of the Council, the manner of filling vacancies of its members and the procedure to be followed in the discharge of then functions, namely.</p>
				<ul class="listing-disc">
					<li>
						These rules may be called the Haryana Micro and Small Enterprises Facilitation Council Rules.    2007. 
					</li>
					<li>
						They shall extend to the whole of the State of Haryana. 
					</li>
					<li>
						They shall come in to farce on the date of their publication in the official Gazette
					</li>
				</ul>
				<strong>The Council shall consist of the following members namely:</strong>
				<table class="table table-bordered">
					<tr>
						<td>The Director of Industries and Commerce, Haryana</td>
						<td>Chairperson</td>
					</tr>
					<tr>
						<td>The General Manager, Haryana Financial Corporation or his representative not below the rank of Assistant General Manager</td>
						<td>Member</td>
					</tr>
					<tr>
						<td>The Company Secretary, Haryana State Industrial and Infrastructure Development Corporation</td>
						<td>Member</td>
					</tr>
					<tr>
						<td>The President or his representative not below the rank of General Secretary of a prominent Industrial Association in the State</td>
						<td>Member</td>
					</tr>
					<tr>
						<td>Technical Expert (Mechanical Engineer), Department of Industries and Commerce, Haryana.</td>
						<td>Member</td>
					</tr>
				</table>
			</div>
		</div>
	</ion-content>
</ion-view>
