<ion-view view-title="Sector Updates">
	<!-- <div class="bar bar-subheader">
		<h2 class="title">Advantage Haryana</h2>
	</div> -->
	<ion-content class="bid-listing-col">
		<div class="card">
			<div class="item item-text-wrap">
				<p class="sub-heading"><b>Advantage Haryana</b></p>
				<ul class="listing-disc">
					<li>
						Strategically Located: 13 districts of the state are a part of National Capital Region (NCR) which is one of the largest production, consumption and trade zones in India; No place in the State is more than 250 kms from India’s largest international airport
					</li>
					<li>
						Top ranked State in terms of Monthly Per Capita Consumption in Urban &amp; Rural Areas
					</li>
					<li>
						Amongst the two States to have Single Roof Clearance – Haryana system is better as it is supported by Statutory powers through the Industrial Promotion &amp; Right to Service Acts for deemed clearances &amp; accountability
					</li>
					<li>
						India’s Largest Auto Hub: Haryana produces 50% of the passenger vehicles and 60% of motorcycles in the country
					</li>
					<li>
						Key International Partners in Growth: Nearly 200 of Fortune-500 Companies with production setup and corporate offices in Haryana such as Siemens, Suzuki, GE, Honda, Smithkline Beecham, JCB, Hollister, Harvel, Osram, Mitsubishi, IBM, Yokohama, Alcatel, ZTE, LG, Goodyear, Perfetti, Johnson Matthey, Becton Dickinson, Caparo, Harley Davidson etc
					</li>
					<li>
						SME’s thriving on International Knowledge Collaborations: More than 1000 industrial units with foreign technical/ financial partnerships
					</li>
					<li>
						Well- established Industrial Base across Key Sectors: With close to 1700 Large and Medium Enterprises such as Maruti Suzuki, Hero MotoCorp, Sun Pharma, Nestle, Indian Oil etc. having an investment of INR 49000 crore and employing 3.36 lakhs people
					</li>
					<li>
						Strong Vendor Ecosystem: Presence of around 90,000 MSMEs having an investment exceeding INR 15,000 crore and employing more than 8.90 lakh people
					</li>
					<li>
						Engineering Giants of India: Leaders in producing Mobile Cranes (80%), Excavators (52%), Passenger cars (48%), Two Wheelers (39%) and Tractors (11%)*
					</li>
					<li>
						Earmarked landbank of more than 15000 acres for Industry
					</li>
					<li>
						Robust Infrastructure: Ranks fourth in the Infrastructure Index (CMIE 2012)
					</li>
					<li>
						Large Pool of Skilled Talent: Gurgaon has the second highest per capita Post Graduate population
					</li>
					<li>
						Destination of Choice in Services Sector: Third-largest exporter of software in the country
					</li>
					<li>
						Plethora of Investment Opportunities: Huge potential in special economic zones (SEZs), Kundli-Manesar- Palwal (KMP) global corridor and Delhi Mumbai Industrial Corridor (DMIC) zones
					</li>
				</ul>
				<p>
					<strong>Focus sectors</strong> - Agro based and Food processing, IT/ITeS &amp; ESDM, Renewable Energy, Automotive industry, Footwear &amp; Accessories, Textiles, Aerospace &amp; Defence, Pharmaceuticals &amp;Chemicals
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
