<ion-content class="gen-detail">
	<h3>A.S.P.I.R.E</h3>
	<p class="sub-heading">
		<b>MINISTRY OF MSME SCHEMES - ARI Division Schemes</b>
	</p>
	<div class="gen-text">
		<p>
			80 Livelihood business incubators (2014-2016) to be set up by NSIC, KVIC or Coir Board or any other Institution/agency of GoI /State Govt. on its own or by any of the agency/Scheme for promotion of Innovation, Entrepreneurship and Agro-Industry organisation of the M/o MSME, one-time grant of 100% of cost of Plant &amp;Machinery other than the land and infrastructure or an amount up to Rs.100 lakhs whichever is less to be provided.
		</p>
	</div>
</ion-content>