<div class="background-white application-listing">
    <button class="button button-full button-stable text-left custom_btn" ui-sref="food-detail">
        <p>Dairy Venture Capital Fund</p>
    </button>
    <button class="button button-full button-stable text-left custom_btn" ui-sref="food-tab-2">
        <p>Establishing Poultry Estates and Mother Units for Rural Backyard Poultry</p>
    </button>
    <button class="button button-full button-stable text-left custom_btn" ui-sref="food-tab-3">
        <p>Poultry Venture Capital Fund</p>
    </button>
    <button class="button button-full button-stable text-left custom_btn" ui-sref="food-tab-4">
        <p>Cold Chain</p>
    </button>
     <button class="button button-full button-stable text-left custom_btn" ui-sref="food-tab-5">
        <p>Modernisation of Abattoirs</p>
    </button>
</div>


