<ion-content class="gen-detail">
	<h3>Credit Linked Capital Subsidy (CLCS) for Technology Upgradation</h3>
	<p class="sub-heading">
		<b>MINISTRY OF MSME SCHEMES - Development Commissioner (DC-MSME) Schemes</b>
	</p>
	<ul class="gen-detail-ul">Revised CLCS has been amended as follows:
		<li>► Ceiling on loans under the scheme has been raised from Rs.40 lakh to Rs.1 crore</li>
		<li>► Rate of subsidy has been enhanced from 12% to 15%.</li>
		<li>► Admissible capital subsidy is calculated with reference to purchase price of plant and Machinery, instead of term loan disbursed to the beneficiary unit.</li>
		<li>► Practice of categorisation of MSEs in different slabs on the basis of their present investment for determining eligible subsidy has been done away with; and</li>
		<li>► Rate of subsidy has been enhanced from 12% to 15%.</li>
		<li>► Operation of the scheme has been extended up to 31st March, 2007. The above revisions/ amendments were made effective from September 29, 2005.</li>
	</ul>
</ion-content>