<div class="background-white application-listing">
    <button class="button button-full button-stable text-left custom_btn" ui-sref="general-detail">
        <p>Credit Linked Capital Subsidy (CLCS) for Technology Upgradation</p>
    </button>
    <button class="button button-full button-stable text-left custom_btn" ui-sref="general-tab-2">
        <p>Micro &amp; Small Enterprises Cluster Development Programme (MSE-CDP)</p>
    </button>
    <button class="button button-full button-stable text-left custom_btn" ui-sref="general-tab-3">
        <p>Micro Finance Programme</p>
    </button>
    <button class="button button-full button-stable text-left custom_btn" ui-sref="general-tab-4">
        <p>Scheme of Fund for Regeneration of Traditional Industries (SFURTI)</p>
    </button>
</div>


