<ion-content class="gen-detail">
	<h3>Micro Finance Programme</h3>
	<p class="sub-heading">
		<b>MINISTRY OF MSME SCHEMES - Development Commissioner (DC-MSME) Schemes</b>
	</p>
	<div class="gen-text">
		<p>Government of India provide funds for micro finance programme to SIDBI, which is called ‘Portfolio Risk Fund’ (PRF). At present SIDBI takes fixed deposit equal to 10% of loan amount. The share of MFIs/NGOs is 2.5% of loan amount (i.e., 25% of security deposit) and balance 7.5% (i.e., 75% of security deposit) is adjusted from funds provided by the Government of India.</p>
	</div>
</ion-content>