<ion-content class="gen-detail">
	<h3>Micro &amp; Small Enterprises Cluster Development Programme (MSE-CDP)</h3>
	<p class="sub-heading">
		<b>MINISTRY OF MSME SCHEMES - Development Commissioner (DC-MSME) Schemes</b>
	</p>
	<ul class="gen-detail-ul">
		<li>► Diagnostic study - maximum cost Rs.2.50 lakh.</li>
		<li>► Soft interventions - maximum cost of project Rs.25.00 lakh, with Government of India contribution of 75% (90% for special category States and for clusters with more than 50% women/micro/village/SC/ST units).</li>
		<li>► Hard interventions, i.e., setting up of CFCs – maximum eligible project cost of Rs.15.00 crore with Government of India contribution of 70% (90% for special category States and for clusters with more than 50% women/micro/village/SC/ST units).</li>
	</ul>
</ion-content>