<ion-content class="gen-detail">
	<h3>Scheme of Fund for Regeneration of Traditional Industries (SFURTI)</h3>
	<p class="sub-heading">
		<b>MINISTRY OF MSME SCHEMES - ARI Division Schemes</b>
	</p>
	<ul class="gen-detail-ul">The Scheme would cover three types of interventions namely &#39;soft Interventions&#39;, &#39;hard Interventions&#39; and &#39;thematic interventions&#39;. The project outlay for various clusters is as follows:
		<li>► Heritage cluster (1000-2500 artisans *): Rs.8 crore</li>
		<li>► Major cluster (500-1000 artisans*): Rs. 3 crore</li>
		<li>► Mini cluster (Up to 500 artisans*): Rs. 1.5crore<br> *For NER/ J&amp;K and Hill States, there will be 50% reduction in the number of artisans per cluster.</li>
		<li>► Soft Interventions: Max Rs 25.00 lakhs (100% scheme funding)</li>
		<li>► Hard Interventions: As per project requirement (75% scheme funding)</li>
		<li>► Cost of Technical Agency Rs 8 % of Soft and Hard interventions (100% scheme funding)</li>
		<li>► Cost of Implementing Agency/ Cluster Executive: Max Rs 20.00 lakhs (100% scheme funding).</li>
	</ul>
</ion-content>